<form [formGroup]="filterForm" class="row">
  <div class="col-md-8 mb-3">
    <label for="title" class="form-label">Title:</label>
    <input type="text" class="form-control" id="title" formControlName="title">
  </div>
  <div class="col-md-4 mb-3">
    <label for="category" class="form-label">Category:</label>
    <select class="form-select" id="category" formControlName="category">
      <option value=""></option>
      <option *ngFor="let category of categories$ | async" [value]="category[1].id">{{ category[1].name }}</option>
    </select>
  </div>
</form>

