<div class="vh-100 bg-light">
  <app-navbar></app-navbar>
  <div class="container-fluid py-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-lg-9 col-xl-7">
        <div class="card rounded-3">
          <div class="card-body p-4">
            <h4 class="text-center my-3 pb-3">To-Do List</h4>
            <app-todo-add></app-todo-add>
            <h5 class="mt-5 pb-3">Filter List:</h5>
            <app-todo-filter></app-todo-filter>
            <app-todo-list></app-todo-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

