<div class="min-vh-100 h-100 bg-light">
  <app-navbar></app-navbar>
  <div class="container-fluid py-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-lg-9 col-xl-7">
        <div class="card rounded-3">
          <div class="card-body p-4">
            <h4 class="text-center my-3 pb-3">Categories</h4>
            <app-category-add></app-category-add>
            <app-category-list></app-category-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
